.box50
{
   
    width:60px;
    height:60px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}
.myfooter ul
{
    list-style: none;
    padding:0px;
    margin:0px;
}
.myfooter ul>li>a
{
    text-decoration: none;
    color: #fff;
}
div {
  
  background-size: cover;
  background-position: center;
}
img {
  width: 100%;
  height: auto;
}
.a:hover {
  color: red;
}
.h:hover {
  color: red;
}
::selection {
  color: white;
  background-color: black;
}


.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }